*{
    box-sizing: border-box;
}
.main-back{
    /* Style for the whole background */
    margin-left:auto;
    margin-right:auto;
    width:1366px;
    height:2070px;
    display: flex;
    flex-direction: column;
    left: auto;
    right: auto;
}
.back-lines-1{
    /* Style for first section  */
    height: 803px;
    width: 1366px;
}
.back-lines-2{
    height: 408px;
    width: 1366px;
    border: 1px solid #ffffff;
    background-color: #f2f2f2;
}
.back-lines-3{
    height: 859px;
    width: 1366px;
}
.photo{
    display: inline-block;
    margin-left: 123px;
    margin-top: 77px;
}
.text{
    display: inline-block;
    height: 435px;
    width: 526px;
    vertical-align: top;
    margin-left: 74px;
    margin-top: 137px;
}
.book-title{
    width: 490px;
    height: 45px;
    color: #000000;
    font-family: Tahoma;
    font-size: 48px;
    font-weight: 700;
}
.book-author{
    width: 310px;
    height: 28px;
    color: #000000;
    font-family: Tahoma;
    font-size: 30px;
    font-weight: 400;
    margin-top: 15px;
    margin-left: 3px;
}
.author-description{
    width: 526px;
    height: 99px;
    color: #000000;
    font-family: Tahoma;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 35px;
    margin-left: 1px;
}
.book-price{
    margin-left: 1px;
    margin-top: 47px;
    height: 46px;
    color: #313131;
    font-family: Tahoma;
    font-size: 48px;
    font-weight: 400;
    line-height: 27px;
}
.button-buy{
    width: 175px;
    display: inline-block;
    height: 67px;
    border-radius: 5px;
    background-color: #f05a22;
    margin-top: 53px;
    margin-left: 1px;
    vertical-align: middle;
}
.buy-text{
    width: 87px;
    height: 23px;
    color: #ffffff;
    font-family: Tahoma;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    margin: 22px 42px 22px 46px;
}
.button-description{
    vertical-align: bottom;
    display: inline-block;
    width: 287px;
    height: 67px;
    border-radius: 5px;
    border: 2px solid #f05a22;
    margin-left: 40px;
}
.text-description{
    margin-left: 30px;
    margin-top: 21px;
    width: 227px;
    height: 24px;
    color: #f05a22;
    font-family: Tahoma;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
}
.delivery-title{
    width: 294px;
    height: 27px;
    color: #333333;
    font-family: Tahoma;
    font-size: 30px;
    font-weight: 700;
    line-height: 27px;
    margin-left: 536px;
    margin-top: 89px;
}
.delivery-icon{
    display: flex;
    justify-content: space-between;
    width: 942px;
    height: 50px;
    margin-left: 211px;
    margin-top: 87px;
}
.icon-2{
    margin-top: 4px;
}
.icon-3{
    margin-top: 4px;
}
.icon-4{
    margin-top: 2px;
}
.icon-description{
    display: flex;
    justify-content: space-between;
    width: 1075px;
    height: 41px;
    margin-left: 150px;
    margin-top: 16px;
}
.icon-text-1{
    width: 181px;
    height: 36px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}
.icon-text-2{
    width: 241px;
    height: 41px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}
.icon-text-3{
    width: 194px;
    height: 39px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}
.icon-text-4{
    width: 194px;
    height: 41px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}
.clients-title{
    width: 387px;
    height: 28px;
    color: #333333;
    font-family: Tahoma;
    font-size: 30px;
    font-weight: 700;
    line-height: 27px;
    margin-left: 492px;
    margin-top: 89px;
}
.client-back{
    height: 562px;
    width: 1137px;
    margin-top: 69px;
    margin-left: 113px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}