*{
    box-sizing: border-box;
}
body{
    background-color: #f6f6f6;
}
.back{
    /* Задній фон */
    width: 1010px;
    height: 503px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff; 
    position:absolute;
    left:50%;
    margin-left:-505px;
    top:50%;
    margin-top:-251.5px;
    width:1010px;
    height:503px; 
}
img{
    /* Фотографія */
    width: 376px;
    height: 375px;
    display: inline-block;
    margin-top: 64px;
    margin-left: 48px;
}
.text-block{
    display: inline-block;
    vertical-align: top;
    margin-left: 99px;
    margin-top: 94px;
}
.title{
    width: 178px;
    height: 22px;
    color: #2f2f2f;
    font-family: "Arial - Bold MT";
    font-size: 23px;
    font-weight: 400;
}
.description{
    width: 393px;
    height: 50px;
    color: #2f2f2f;
    font-family: "Arial MT";
    font-size: 15px;
    font-weight: 400;
    margin-left: 1px;
    margin-top: 30px;
}
.price-text{
    margin-top: 55px;
    width: 35px;
    height: 14px;
    color: #2f2f2f;
    font-family: "Arial MT";
    font-size: 15px;
    font-weight: 400;
}
.price{
    margin-left: 2px;
    margin-top: 23px;
    width: 103px;
    height: 28px;
    color: #2f2f2f;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
}
.button{
    margin-top: 56px;
    width: 252px;
    height: 50px;
    background-color: #ec744a;
    padding-top: 16px;
    padding-left: 39px;
}
.button-text{
    width: 174px;
    height: 18px;
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 19px;
    font-weight: 400;
}