body{
    background-color:#e3b6d5;
}
h1, h2, h3, h4{
    text-align: center;
}
.text{
    font-weight: bold;
}
.text-1{
    font-style: italic;
    text-decoration: line-through;
}
.text-2{
    text-decoration: underline;
    
}
.title{
    border-style: double;
    border-color: chocolate;
    border-width: 5px;
    color: darkcyan;
}
.ord-text{
    color: darkgreen;
}
.content{
    position: fixed;
    right: 0;
}
body{
    margin-right: 250px;
}
